<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-list/iron-list.html">
<link rel="import" href="../paper-item/paper-icon-item.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../fotosocial-users-dm/fotosocial-users-dm.html">
<link rel="import" href="../fotosocial-new-post/fotosocial-new-post.html">
<link rel="import" href="../fotosocial-new-post-dm/fotosocial-new-post-dm.html">
<link rel="import" href="../fotosocial-posts-container/fotosocial-posts-container.html">
<link rel="import" href="../fotosocial-get-user-posts-dm/fotosocial-get-user-posts-dm.html">

<dom-module id="fotosocial-dashboard">
  <template>
    <style>
      :host {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        height: 100vh;
      }
      
      .header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: dodgerblue;
      }

      .header img {
        height: 40px;
        margin-right: 20px;
      }

      .content {
        display: flex;
        flex-direction: row nowrap; 
        height: calc(100vh - 80px);
        margin: 0;
      }

      .content .sidebar {
        width: 20%;
        background-color: deepskyblue;
      }

      .footer {
        height: 30px;
        background-color: deeppink; 
      }

    </style>
    <div class="header">
      <img src="./src/assets/fotosocial-login.png" width="168" height="40">
      <div>Usuario: [[user]] <paper-icon-button icon="close" on-click="_logout"></paper-icon-button></div>
    </div>
    <div class="content">
      <div class="sidebar">
        <div class="users-list">
          <fotosocial-users-dm id="usersDm"></fotosocial-users-dm>
          <paper-icon-item id="[[user]]" on-click="_userSelect">
            <iron-icon icon="account-circle" slot="item-icon"></iron-icon>
            [[user]]
          </paper-icon-item>
          <iron-list items="[[userFriends]]" as="friend">
            <template>
              <paper-icon-item id="[[friend]]" on-click="_userSelect">
                <iron-icon icon="account-circle" slot="item-icon"></iron-icon>
                [[friend]]
              </paper-icon-item>
            </template>
          </iron-list>
        </div>
      </div>
      <div class="main-container">
        <div class="posts">
          <fotosocial-posts-container posts="[[userSelectedPosts]]"></fotosocial-posts-container>
          <paper-icon-button hidden$="[[!userEqualSelect]]" icon="add-circle" on-click="_callNewPost"></paper-icon-button>
        </div>
      </div>
    </div>
    <div class="footer"></div>
    <paper-dialog id="modalNewPost" modal>
      <fotosocial-new-post on-save-post="_savePost"></fotosocial-new-post>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>Cancelar</paper-button>
      </div>
    </paper-dialog>
    <fotosocial-new-post-dm id="newPostDm" on-add-post-success="_addPostSuccess"></fotosocial-new-post-dm>
    <fotosocial-get-user-posts-dm on-user-posts="_displayUserSelectedPosts" id="getUserPostsDm"></fotosocial-get-user-posts-dm>
  </template>
  <script>
    /**
     * `fotosocial-dashboard`
     * Dashboard for fotosocial app.
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FotosocialDashboard extends Polymer.Element {
      static get is() { return 'fotosocial-dashboard'; }
      static get properties() {
        return {
          user: {
            type: String,
            value: ''
          },
          users: {
            type: Array,
            value: []
          },
          userFriends: {
            type: Array,
            value: [],
            computed: '_getUserFriends(user, users)'
          },
          userEqualSelect: {
            type: Boolean,
            value: true
          },
          userSelectedPosts: {
            type: Array,
            value: []
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
        this.set('users', this.$.usersDm.getUsers());
        this.$.getUserPostsDm.getUserPosts(this.user);
      }

      _getUserFriends(user, users) {
        return users.filter(el => el !== user);
      }

      _callNewPost() {
        this.$.modalNewPost.open();
      }

      _savePost(post) {
        this.shadowRoot.querySelector('#newPostDm').set('user', this.user);
        this.shadowRoot.querySelector('#newPostDm').set('photo',post.detail.photo);
        this.shadowRoot.querySelector('#newPostDm').set('description',post.detail.description);
        this.$.newPostDm.savePost();
      }
  
      _addPostSuccess() {
        this.$.modalNewPost.close();
      }
  
      _userSelect(e) {
        this.set('userEqualSelect', e.target.id === this.user);
        // llama el data manager que devuelve los post del usuario seleccionado.
        this.$.getUserPostsDm.getUserPosts(e.target.id);
      }

      _displayUserSelectedPosts(e) {
        this.set('userSelectedPosts', e.detail)
      }

      _logout() {
        this.set('user', '');
        this.dispatchEvent(new CustomEvent('log-out', {}));
      }
    }
    
    window.customElements.define(FotosocialDashboard.is, FotosocialDashboard);
  </script>
</dom-module>
